<ul class="list-group-flush px-0 overflow-auto position-sticky" id="product-category-list">
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=frites">Frites</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=snacks">Snacks</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=minisnacks">Mini-snacks</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=hamburgers">Hamburgers</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=schotels">Schotels</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=broodjes">Broodjes</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=salades">Salades</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=sausbekers">Sausbekers</a>
    </li>
    <li class="product-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Product/Search?product=dranken">Dranken</a>
    </li>
</ul>