html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer{
    background-color: #0d243d;
    height: 200px;
}

header{
    z-index: 1000;
}

.productCard{
    height: 250px;
}
.fa-instagram {
    color: #bc2a8d;
}
.fa-whatsapp {
    color: #128C7E;
}
.fa-facebook {
    color: #3b5998;
}
.fa-envelope {
    color: #ea4335;
}

#product-category-list{
    top: 5rem;
}
#product-category-list::-webkit-scrollbar{
    width: 10px;
}
#product-category-list::-webkit-scrollbar-track{
    background-color: #ffffff;
}
#product-category-list::-webkit-scrollbar-thumb{
    background-color: #ff1448;
    border-radius: 10px;
}

.product-item:hover{
    background-color: #0d243d;
    border-radius: 10px;
}
.product-item:hover a{
    color: #ffffff !important;
}

.validation-summary-errors li{
    color: #dc3545;
}

.button {
    background-color: #0c721c; /* Groene achtergrondkleur */
    color: white; /* Tekstkleur */
    padding: 15px 30px; /* Binnenmarge (vergroot de knopgrootte) */
    border: none; /* Geen rand */
    border-radius: 10px; /* Afgeronde randen */
    cursor: pointer; /* Cursor veranderen bij hover */
    font-size: 18px; /* Tekstgrootte */
}

.button:hover {
        background-color: #45a049; /* Donkerder groene kleur bij hover */
}

/* Stijl voor productafbeeldingen */
.product img {
    width: 150px; /* Stel de breedte in op de gewenste grootte */
    height: 150px; /* Stel de hoogte in op de gewenste grootte */
    object-fit: cover; /* Behoud de beeldverhouding en bedek het hele vak */
    border-radius: 5px; /* Voeg afgeronde randen toe */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.product {
    width: 10%; /* Stel de breedte in, zodat er meerdere producten per rij passen */
    margin: 10px;
    padding: 10px;
    
    border-radius: 5px;
    text-align: center;
}

.cart-dropdown {
    display: none;
    position: absolute;
    top: 40px;
    right: 10px;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
}

.cart-dropdown.show {
        display: block;
}

/* Stijlen voor de navigatiebalk */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Stijlen voor de navigatiebalk-items */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Stijlen voor de winkelmandje-container */
.cart-container {
    display: flex;
    align-items: center;
}

/* Stijlen voor het winkelmandje-icoon */
.cart-icon {
    font-size: 24px;
    margin-right: 10px;
}


