@model FrituurApp.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registreren";
}
<div class="container">
    <div class="row shadow rounded">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div>
                <img src="~/images/FrietLogIn.jpg" class="w-100 h-100" alt="" />
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <form autocomplete="off" method="post" class="m-3 p-3" action="/Account/Register">
                <div class="mb-3">
                    <h2 class="text-pink">Registreren</h2>
                    <span class="fst-italic text-muted">Maak een account aan.</span>
                </div>
                <div class="mb-3">
                    @Html.ValidationSummary()
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.Name, new {@class="form-control", placeholder="Name" })
                    <label for="Name">Naam</label>
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.Email, new {@class="form-control", placeholder="Email" })
                    <label for="Email">E-mailadres</label>
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(m => m.Password, new {@class="form-control", placeholder="Password", type="Password" })
                    <label for="Password">Wachtwoord</label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-sm w-100 btn-dark p-2 shadow rounded">Registreren</button>
                </div>
            </form>
        </div>
    </div>
</div>